

Hello {{user.name}}, how are you?

Your Orders
---
{{for order in orders}}ID: {{order.id}}
{{if order.isActive}}ORDER IS ACTIVE{{end}}
{{end}}









Hello Ronald, how are you?

Your Orders
---
ID: Order_01
ORDER IS ACTIVE

ID: Order_02

ID: Order_03
ORDER IS ACTIVE

